---
title: About Me
---

{% extends "hbase.njk" %}

{% block backlink %}
<a class='mute-link' href='/'>⟵ Home</a>
{% endblock %}

{% block content %}
    <div class='big-title'>About Me</div>
    {# <article style='font-size:1.3em;line-height:1.5em'> #}
    <article>
        <p>
            I'm Gurdit, a Research Fellow at <a href='https://www.microsoft.com/en-us/research/project/project-turing/'>Microsoft Turing</a>. 
            I did my master's in computer science from <a href='https://www.cmi.ac.in/'>CMI</a>, and
            my bachelor's in mathematics from <a href='http://www.du.ac.in/'>Delhi University</a>.
            
            I love mathematics and computer science, especially the topics
            that lie at their intersection.
        </p>
        <p>
            Feel free to reach out to me at <span style='color:var(--color-accent-0)'>{{author.email}}</span>.
        </p>
    </article>
{% endblock %}